<div class="row">
  <div class="col-md-10">
    <div id="chessboard" class="chessboard">
    </div>
  </div>
  <div class="col-md-2">
    <ul id="list-users" class="list-group">
      <% @users.each do |user| %>
      <li class="list-group-item" data-user-id="<%= user.id %>">
        <icon class="user-status user-status-<%= user.status %>"></icon><%= user.email %>
      </li>
      <% end %>
    </ul>
    <button id="btn-start" class="disabled" disabled>StartGame</button>
  </div>
</div>

<script>
  App.PlayerStore.fetch();
  App.chessboard = new App.Chessboard({
    element: $('#chessboard')
  });
  $('#btn-start').click(function() {
    App.game_wathcher.start();
  });
</script>
