.chessboard {
  padding: 2%;
  border: 1px solid black;
  background: image-url('chessboard-bg.png');
}
.chessboard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chessboard-row:nth-child(1) .cell::before {
  top: 50%;
}
.chessboard-row:nth-last-child(1) .cell::before {
  height: calc(50%);
}
.chessboard-row .cell:nth-child(1)::after {
  left: 50%;
}
.chessboard-row .cell:nth-last-child(1)::after {
  width: calc(50%);
}
.cell {
  border-radius: 50%;
  margin: 1px;
  position: relative;

  &:hover {
    border: 1px dotted black;
    box-sizing: border-box;
  }

  &::before {
    content: '';
    position: absolute;
    height: calc(100% + 2px);
    border-left: 1px solid black;
    left: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    border-top: 1px solid black;
    top: 50%;
  }

  &.active {
    border: none;

    &::before,
    &::after {
      display: none;
    }
  }

  &.active-white {
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 220, 1) 0%, #fff 100%);
    box-shadow: inset -25px -25px 40px rgba(125, 116, 116, 0.5);
  }

  &.active-black {
    box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(181, 174, 174, 0.8) 0%, #000 100%);
  }
}
#btn-start {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}
